.user-order-page {
    padding: 20px;
  }
  
  .ant-table-cell {
    text-align: center;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  h4 {
    margin-top: 10px;
  }
  
  input {
    margin-bottom: 10px;
  }
  