.dashboard-container {
  padding: 10px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.dashboard-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow items to wrap in smaller screens */
}

.company-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease;
  height: 100%; /* Ensure all cards take equal height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.company-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.ant-card-cover {
  display: grid;
  justify-content: center;
  align-items: center;
}

.ant-card-cover img {
  height: 150px; /* Set a fixed height */
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.ant-card-meta {
  flex-grow: 1; /* Allow the text section to grow to fill available space */
}

.ant-card-meta-title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-card-meta-description {
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
}

/* Mobile-first styles */
.company-card img {
  width: 100%;
  height: auto;
  max-height: 150px;
}

/* Tablet (sm) */
@media (min-width: 576px) {
  .dashboard-container {
    padding: 15px;
  }

  h2 {
    font-size: 1.75rem;
  }
}

/* Medium devices (md) */
@media (min-width: 768px) {
  .dashboard-container {
    padding: 20px;
  }

  .company-card img {
    height: 150px;
  }

  h2 {
    font-size: 2rem;
  }
}

/* Large devices (lg) */
@media (min-width: 992px) {
  .company-card img {
    height: 200px;
  }

  h2 {
    font-size: 2.25rem;
  }
}
